<!doctype html>
<html th:fragment="layout (template, menu)">
<head>
    <title>Gestion des poissons pour la Biocoop</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/"><span class="glyphicon glyphicon-home"></span> Accueil</a>
                </li>
                <li>
                    <a href="/poissons-fiches"><span class="glyphicon glyphicon-search"></span> Trouver une espèce de poisson</a>
                </li>
                <li>
                    <a href="/poissons-commercialisables"><span class="glyphicon glyphicon-th-list"></span> Liste des poissons commercialisables</a>
                </li>
            </ul>
        </div>
    </nav>
    <div th:replace="${template}"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>