<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'fichePoisson')}">

<body>


<div class="container">
  <h1 th:text="'Fiche ' + ${poisson.type} + ' : ' + ${poisson.espece}" />

  <p th:text="'Nom scientifique : ' + ${poisson.nomScientifique}"/>

  <p th:text="'Dates de commercialisation possible : de ' + ${poisson.dateDebutVente} + ' à ' + ${poisson.dateFinVente}" />

  <p th:text="'Commercialisation possible ? ' + (${poisson.commercialisationPossible}? 'Oui' : 'Non')"/>

  <p>Zones de pêche FAO :</p>

  <ul th:each="zonePeche : ${poisson.zonesDePeche}"
      th:object="${zonePeche}"
      th:if="${zonePeche.niveau1}">
    <li th:text="'Code : ' + ${zonePeche.code} + ' - Libellé : ' + ${zonePeche.libelle}"/>

    <ul th:each="sousZonePeche : ${zonePeche.sousZones}">
      <li th:text="'Code : ' + ${sousZonePeche.code} + ' - Libellé : ' + ${sousZonePeche.libelle}"/>
    </ul>
  </ul>
</div>

</body>
</html>
