<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Gestion des poissons pour la Biocoop</h1>
    <p>
      Application permettant de facilement gérer la commercialisation des poissons et crustacés en fonction de leur date possible de pêche ainsi que des zones de pêche autorisées.
      Prend en compte le cahier des charges général Biocoop de juin 2017.
    </p>
  </div>
</div>

</body>
</html>
