<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'poissons-fiches')}">

<body>


<div class="container">
  <h1>Trouver une espèce de poisson</h1>

  <form>
    <div class="form-group">
      <label for="searchPoisson">Rechercher par nom</label>
      <input type="text" class="form-control" id="searchPoisson" placeholder="Araignée, Cabillaud, Lieu...">
    </div>
  </form>

  <div id="search-results">
    <ul th:each="poisson : ${poissons}">
      <li><a href="/poisson/fichePoisson.html"
             th:href="@{'/poisson/'+${poisson.code}}"
             th:text="${poisson.espece}" />
      </li>
    </ul>
  </div>

</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" />
<script src="/scripts/recherchePoissons.js" />

</body>
</html>
