<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'poissons-commercialisables')}"
      th:replace="fragments/layout :: navbar('poissons-commercialisables')">

<body>


<div class="container">
  <h1 th:text="'Liste des poissons commercialisables au ' + ${dateDuJour}"/>

  <ul th:each="poisson : ${poissons}">
    <li><a href="/poisson/fichePoisson.html"
           th:href="@{'/poisson/'+${poisson.code}}"
           th:text="${poisson.espece}" />
    </li>
  </ul>
</div>

</body>
</html>
